Bag/obj/Debug/net7.0/Bag.GlobalUsings.g.cs
Stack/obj/Debug/net7.0/Stack.genruntimeconfig.cache
Stack/obj/Debug/net7.0/Stack.GlobalUsings.g.cs
Stack/obj/Debug/net7.0/Stack.pdb
Stack/obj/Debug/net7.0/ref/Stack.dll
Stack/obj/Debug/net7.0/refint/Stack.dll
Stack/obj/Debug/net7.0/Stack.GeneratedMSBuildEditorConfig.editorconfig
Stack/obj/Debug/net7.0/Stack.dll
Stack/obj/Debug/net7.0/Stack.csproj.FileListAbsolute.txt
Stack/obj/Debug/net7.0/Stack.csproj.CoreCompileInputs.cache
Stack/obj/Debug/net7.0/Stack.assets.cache
Stack/obj/Debug/net7.0/Stack.AssemblyInfoInputs.cache
Stack/obj/Debug/net7.0/Stack.AssemblyInfo.cs
Stack/obj/Debug/net7.0/apphost
Stack/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Stack/obj/Stack.csproj.nuget.g.targets
Stack/obj/Stack.csproj.nuget.g.props
Stack/obj/Stack.csproj.nuget.dgspec.json
Stack/obj/project.nuget.cache
Stack/obj/project.assets.json
Stack/bin/Debug/net7.0/Stack.runtimeconfig.json
Stack/bin/Debug/net7.0/Stack.pdb
Stack/bin/Debug/net7.0/Stack.dll
Stack/bin/Debug/net7.0/Stack.deps.json
Stack/bin/Debug/net7.0/Stack
Bag/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Bag/obj/Debug/net7.0/Bag.AssemblyInfo.cs
Bag/obj/Debug/net7.0/Bag.AssemblyInfoInputs.cache
Bag/obj/Debug/net7.0/Bag.GeneratedMSBuildEditorConfig.editorconfig
DoublyLinkedList/bin/Debug/net7.0/DoublyLinkedList
DoublyLinkedList/bin/Debug/net7.0/DoublyLinkedList.deps.json
DoublyLinkedList/bin/Debug/net7.0/DoublyLinkedList.dll
DoublyLinkedList/bin/Debug/net7.0/DoublyLinkedList.pdb
DoublyLinkedList/bin/Debug/net7.0/DoublyLinkedList.runtimeconfig.json
DoublyLinkedList/obj/DoublyLinkedList.csproj.nuget.dgspec.json
DoublyLinkedList/obj/DoublyLinkedList.csproj.nuget.g.props
DoublyLinkedList/obj/DoublyLinkedList.csproj.nuget.g.targets
DoublyLinkedList/obj/project.assets.json
DoublyLinkedList/obj/project.nuget.cache
DoublyLinkedList/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
DoublyLinkedList/obj/Debug/net7.0/apphost
DoublyLinkedList/obj/Debug/net7.0/DoublyLinkedList.AssemblyInfo.cs
DoublyLinkedList/obj/Debug/net7.0/DoublyLinkedList.AssemblyInfoInputs.cache
DoublyLinkedList/obj/Debug/net7.0/DoublyLinkedList.assets.cache
DoublyLinkedList/obj/Debug/net7.0/DoublyLinkedList.csproj.CoreCompileInputs.cache
DoublyLinkedList/obj/Debug/net7.0/DoublyLinkedList.csproj.FileListAbsolute.txt
DoublyLinkedList/obj/Debug/net7.0/DoublyLinkedList.dll
DoublyLinkedList/obj/Debug/net7.0/DoublyLinkedList.GeneratedMSBuildEditorConfig.editorconfig
DoublyLinkedList/obj/Debug/net7.0/DoublyLinkedList.genruntimeconfig.cache
DoublyLinkedList/obj/Debug/net7.0/DoublyLinkedList.GlobalUsings.g.cs
DoublyLinkedList/obj/Debug/net7.0/DoublyLinkedList.pdb
DoublyLinkedList/obj/Debug/net7.0/ref/DoublyLinkedList.dll
DoublyLinkedList/obj/Debug/net7.0/refint/DoublyLinkedList.dll
LinkedList/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
LinkedList/obj/Debug/net7.0/LinkedList.AssemblyInfo.cs
LinkedList/obj/Debug/net7.0/LinkedList.AssemblyInfoInputs.cache
LinkedList/obj/Debug/net7.0/LinkedList.GeneratedMSBuildEditorConfig.editorconfig
LinkedList/obj/Debug/net7.0/LinkedList.GlobalUsings.g.cs
LinkedListStack/obj/LinkedListStack.csproj.nuget.dgspec.json
Queue/obj/Debug/net7.0/Queue.GlobalUsings.g.cs
Queue/obj/Debug/net7.0/Queue.GeneratedMSBuildEditorConfig.editorconfig
Queue/obj/Debug/net7.0/Queue.AssemblyInfoInputs.cache
Queue/obj/Debug/net7.0/Queue.AssemblyInfo.cs
Queue/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
LinkedListStack/obj/Debug/net7.0/LinkedListStack.GlobalUsings.g.cs
LinkedListStack/obj/Debug/net7.0/LinkedListStack.GeneratedMSBuildEditorConfig.editorconfig
LinkedListStack/obj/Debug/net7.0/LinkedListStack.assets.cache
LinkedListStack/obj/Debug/net7.0/LinkedListStack.AssemblyInfoInputs.cache
LinkedListStack/obj/Debug/net7.0/LinkedListStack.AssemblyInfo.cs
LinkedListStack/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
LinkedListStack/obj/project.nuget.cache
LinkedListStack/obj/project.assets.json
LinkedListStack/obj/LinkedListStack.csproj.nuget.g.targets
LinkedListStack/obj/LinkedListStack.csproj.nuget.g.props
LinkedListStack/bin/Debug/net7.0/LinkedListStack
LinkedListStack/bin/Debug/net7.0/LinkedListStack.deps.json
LinkedListStack/bin/Debug/net7.0/LinkedListStack.dll
LinkedListStack/bin/Debug/net7.0/LinkedListStack.pdb
LinkedListStack/bin/Debug/net7.0/LinkedListStack.runtimeconfig.json
LinkedListStack/obj/Debug/net7.0/apphost
LinkedListStack/obj/Debug/net7.0/LinkedListStack.csproj.CoreCompileInputs.cache
LinkedListStack/obj/Debug/net7.0/LinkedListStack.csproj.FileListAbsolute.txt
LinkedListStack/obj/Debug/net7.0/LinkedListStack.dll
LinkedListStack/obj/Debug/net7.0/LinkedListStack.genruntimeconfig.cache
LinkedListStack/obj/Debug/net7.0/LinkedListStack.pdb
LinkedListStack/obj/Debug/net7.0/ref/LinkedListStack.dll
LinkedListStack/obj/Debug/net7.0/refint/LinkedListStack.dll
Queue/bin/Debug/net7.0/Queue
Queue/bin/Debug/net7.0/Queue.deps.json
Queue/bin/Debug/net7.0/Queue.dll
Queue/bin/Debug/net7.0/Queue.pdb
Queue/bin/Debug/net7.0/Queue.runtimeconfig.json
Queue/obj/project.assets.json
Queue/obj/project.nuget.cache
Queue/obj/Queue.csproj.nuget.dgspec.json
Queue/obj/Queue.csproj.nuget.g.props
Queue/obj/Queue.csproj.nuget.g.targets
Queue/obj/Debug/net7.0/apphost
Queue/obj/Debug/net7.0/Queue.assets.cache
Queue/obj/Debug/net7.0/Queue.csproj.CoreCompileInputs.cache
Queue/obj/Debug/net7.0/Queue.csproj.FileListAbsolute.txt
Queue/obj/Debug/net7.0/Queue.dll
Queue/obj/Debug/net7.0/Queue.genruntimeconfig.cache
Queue/obj/Debug/net7.0/Queue.pdb
Queue/obj/Debug/net7.0/ref/Queue.dll
Queue/obj/Debug/net7.0/refint/Queue.dll
